
# specific files and foders
.idea/
.DS_Store

# python bytecode files
*.pyc
*.pyo

# data files
*.pkl
*.csv
*.mat
# folders for experiments
data/
results/
ouptut/

# text editor's temporary files
*~

